---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Artesanias mexicanas">
	<main class=" grid justify-center">
		<h1 class="font-extrabold text-center text-4xl md:text-5xl md:leading-[3.5rem] text-balance">
        	Textiles Ferleth
      	</h1>
		<p class="text-black text-center">
		Producción & Venta de Artículos Textiles
		</p>
		<img
			
			class="rounded-2xl" 
			src="https://img.freepik.com/fotos-premium/textiles-mexicanos-vibrantes_98908-3698.jpg" 
			alt="textiles mexicanos" 
		/>
	</main>

	<section class="contact bg-gray-100 px-10 py-16">
		<div class="flex gap-x-5 justify-around">
			<div class="max-h-[350px] w-[550px] overflow-hidden rounded-lg">
				<img class="w-full h-full object-cover" src="/images/ferleth_logo.png" alt="ferleth logo">
			</div>
			<div class="pt-5">
				<h3 class="capitalize font-extrabold  text-3xl  md:leading-[3.5rem] text-balance">sobre nosotros</h3>
				<p class="text-slate-900 font-normal">Somos una empresa mexicana con mas de 30 años de experiencia en el mercado desarrollando, creando e innovando con textiles y artesanias mexicanas.
				Nosso chalé de aluguer está localizado em uma área tranquila da serra, com vistas deslumbrantes para as montanhas. Acomodamos até 6 pessoas em 3 quartos confortáveis, com uma cozinha totalmente equipada e uma sala de estar aconchegante.
				</p>

			</div>
		</div>

	</section>

	<h2 class="font-extrabold text-center text-2xl md:text-3xl md:leading-[3.5rem] text-balance">
		Catálogo de Productos
	</h2>
	<section class="flex flex-wrap gap-4 md:px-12">
		
		<Card title='bolsa de playa' size={['s', 'm', 'l']} imgURL='/images/bolsa_playa.png' extra='Disponible en varios colores' materials='100% poliéster'/>
		<Card title='bolsa mantel' size={['s', 'm', 'l', '2xl']} imgURL='/images/bolsa_mantel.png' extra='Disponible en varios colores' materials='100% acrílico'/>
		<Card title='bolsa de algodon' size={['s', 'm', 'l', '2xl']} imgURL='/images/bolsa_algodon.png' extra='Disponible en varios colores' materials='100% algodón'/>
		<Card title='bolsa rayado de playa' size={['s', 'm', 'l', '2xl']} imgURL='/images/bolsa_rayada_playa.png' extra='Disponible en varios colores' materials='100% algodón'/>

		<Card title='bolsa picky' size={['s', 'm', 'l']} imgURL='/images/bolsa_picky.png' extra='Disponible en varios colores' materials='60% algodón / 40% Acrílico'/>
		<Card title='morral picky' size={['s', 'm', 'l']} imgURL='/images/morral_picky.png' extra='Disponible en varios colores' materials='60% algodón / 40% Acrílico'/>
		<Card title='mochila picky' size={['s', 'm', 'l']} imgURL='/images/mochila_picky.png' extra='Disponible en varios colores' materials='60% algodón / 40% Acrílico'/>

		<Card title='sarape saltillo' size={['s', 'm', 'l']} imgURL='/images/sarape_saltillo.png' extra='Disponible en varios colores' materials='60% algodón / 40% Acrílico'/>
		<Card title='sudadera baja' size={['s', 'm', 'l']} imgURL='/images/sudadera_baja.png' extra='Disponible en varios colores' materials='50% algodón / 50% Acrílico'/>


	</section>

	<section class="contact bg-gray-100 px-10 py-16">
		<div class="container mx-auto">
			<h2 class="text-2xl font-bold mb-8">Contactenos</h2>
			<form class="max-w-md mx-auto space-y-4"
			  action="https://formspree.io/f/xeojdgqq"
			  method="POST"
			>
							<!-- <label>
							Your email:
							<input type="email" name="email">
						</label>
						<label>
							Your message:
							<textarea name="message"></textarea>
						</label>
						<button type="submit">Send</button> -->
					<label for="name" class="font-semibold grid">Nombre
						<input id="name" type="text" placeholder="Fernando Rodriguez" class="rounded-md text-lg" />
					</label>
					<label for="email" class="font-semibold grid">Email
						<input id="email" type="email" placeholder="su@email.com" class="rounded-md text-lg"/>
					</label>
					<label for="message" class="font-semibold grid">Mensaje
						<textarea id="message" rows={4} placeholder="Su mensaje" class="rounded-md text-lg"/>
					</label>
				<button type="submit" class="bg-slate-900 rounded-md p-2 text-white">Enviar</button>
			</form>
		</div>
	</section>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1{
		color: black;
	}


</style>
