---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Textiles">
    <main>
        <h1>Textiles mexicanos</h1>
        		<img
			class="rounded-2xl" 
			src="https://img.freepik.com/fotos-premium/textiles-mexicanos-vibrantes_98908-3698.jpg" 
			alt="textiles mexicanos" 
		/>
    </main>
</Layout>