---
interface Props {
	title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<nav class="bg-stone-900 py-5">
			<div class="flex justify-center gap-x-4">
				<a class="text-white font-bold cursor-pointer hover:text-amber-200" href="/">Home</a>
				<a class="text-white font-bold cursor-pointer hover:text-amber-200" href="textiles">Textiles</a>
				<a class="text-white font-bold cursor-pointer hover:text-amber-200" href="#">Manteles</a>
				<a class="text-white font-bold cursor-pointer hover:text-amber-200" href="#">Artesanias</a>
			</div>
		</nav>
		<div class="wrapper  w-full h-full mx-auto">
			<slot />
		</div>
		<footer class="bg-stone-900 py-5">
			<small class="text-white">© 2024 Todos los derechos reservados. Fernando Rodriguez</small>
		</footer>
	</body>
</html>
<style is:global>
</style>
